force-app/main/default/flows/Account_hierarchy_sharing_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_owner_to_collection</name>
        <label>add owner to collection</label>
        <locationX>673</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NA_get_parent_account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NA_new_parentId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NA_set_latest_parentId</name>
        <label>NA set latest parentId</label>
        <locationX>531</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>latest_ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NA_get_parent_account.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NA_get_parent_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_Account_owner_from_list</name>
        <label>remove Account owner from list</label>
        <locationX>670</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NA_Create_sharing_rules</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>NA_new_parentId</name>
        <label>NA new parentId?</label>
        <locationX>665</locationX>
        <locationY>928</locationY>
        <defaultConnector>
            <targetReference>remove_Account_owner_from_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (account top level)</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NA_get_parent_account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_set_latest_parentId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scenario</name>
        <label>Scenario</label>
        <locationX>663</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ParentId_changed_or_set</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>parentId changed or set</label>
        </rules>
        <rules>
            <name>New_account_with_parentId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_get_parent_account</targetReference>
            </connector>
            <label>New account with parentId</label>
        </rules>
        <rules>
            <name>Owner_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Owner changed</label>
        </rules>
    </decisions>
    <description>By Riekus</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordisNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account sharing flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account hierarchy sharing flow</label>
    <loops>
        <name>NA_Create_sharing_rules</name>
        <label>NA Create sharing rules</label>
        <locationX>666</locationX>
        <locationY>1249</locationY>
        <collectionReference>parent_owners_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NA_create_rule</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>NA_create_rule</name>
        <label>NA create rule</label>
        <locationX>852</locationX>
        <locationY>1249</locationY>
        <connector>
            <targetReference>NA_Create_sharing_rules</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>NA_Create_sharing_rules</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>NA_get_parent_account</name>
        <label>NA - get parent account</label>
        <locationX>671</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_owner_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>latest_ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>537</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Scenario</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>latest_ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.ParentId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Parent_owner_user_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>parent_owners_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
