force-app/main/default/flows/Account_Update_Region_Area_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_VarSER_to_CollSER</name>
        <label>Assign VarSER to CollSER</label>
        <locationX>173</locationX>
        <locationY>1045</locationY>
        <assignmentItems>
            <assignToReference>CollSER</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SER</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SER</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>SER_Match_Account</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>SER Match Account</label>
        <locationX>174</locationX>
        <locationY>747</locationY>
        <assignNextValueToReference>currentItem_SER_Match_Account</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Sales_Engineering_Request</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_SER_Match_Account.Account_AccountId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_SER</targetReference>
        </connector>
    </collectionProcessors>
    <description>Update Region Area field on Account</description>
    <environments>Default</environments>
    <interviewLabel>Account - Update Region / Area field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Region / Area field</label>
    <loops>
        <name>Loop_SER</name>
        <label>Loop SER</label>
        <locationX>173</locationX>
        <locationY>874</locationY>
        <collectionReference>Get_Sales_Engineering_Request</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_VarSER_to_CollSER</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SER</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sales_Engineering_Request</name>
        <label>Get Sales Engineering Request (SER)</label>
        <locationX>176</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SER_Match_Account</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Engineering_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCountrySetting</name>
        <label>GetCountrySetting</label>
        <locationX>175</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Account region/area field.</description>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>175</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Get_Sales_Engineering_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>NX_Region__c</field>
            <value>
                <elementReference>GetCountrySetting.NX_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Area__c</field>
            <value>
                <elementReference>GetCountrySetting.Region_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SER</name>
        <label>Update SER</label>
        <locationX>396</locationX>
        <locationY>877</locationY>
        <inputReference>CollSER</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetCountrySetting</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Region_Area__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NX_Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollSER</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Engineering_Request__c</objectType>
    </variables>
    <variables>
        <name>currentItem_SER_Match_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Engineering_Request__c</objectType>
    </variables>
</Flow>
