force-app/main/default/flows/Account_sharing_automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_To_Collection</name>
        <label>Assign To Collection</label>
        <locationX>576</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>AccountShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ACCOUNTSHARE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Account_Share_Variable</name>
        <label>Populate Account__Share Variable</label>
        <locationX>720</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>varR_ACCOUNTSHARE.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ACCOUNTSHARE.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTopParentAccount.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ACCOUNTSHARE.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ACCOUNTSHARE.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Child_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ACCOUNTSHARE.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account sharing automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account sharing automation</label>
    <loops>
        <name>Loop_Child_Accounts</name>
        <label>Loop Child Accounts</label>
        <locationX>576</locationX>
        <locationY>737</locationY>
        <collectionReference>Get_Child_Account_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Account_Share_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Share_Account_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Account_Record</name>
        <label>Share Account Record</label>
        <locationX>404</locationX>
        <locationY>741</locationY>
        <inputReference>AccountShareCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Account_Id</name>
        <label>Get Child Account Id</label>
        <locationX>732</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Top_Level_Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Top_Level_Parent_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTopParentAccount</name>
        <label>GetTopParentAccount</label>
        <locationX>733</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Top_Level_Parent_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>607</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTopParentAccount</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varR_ACCOUNTSHARE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
</Flow>
