force-app/main/default/flows/Daily_Account_Hierarcy_sharing_rule_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_level_1</name>
        <label>add level 1</label>
        <locationX>746</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ownerlevel1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_level_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_level_2</name>
        <label>add level 2</label>
        <locationX>850</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ownerlevel2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ownerlevel2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_level_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_level_3</name>
        <label>add level 3</label>
        <locationX>953</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ownerlevel3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ownerlevel3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_level_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_level_4</name>
        <label>add level 4</label>
        <locationX>1074</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ownerlevel4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ownerlevel4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_level_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_level_5</name>
        <label>add level 5</label>
        <locationX>1196</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ownerlevel5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ownerlevel5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_level_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_level_6</name>
        <label>add level 6</label>
        <locationX>1212</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ownerlevel6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ownerlevel6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_level_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_level_7</name>
        <label>add level 7</label>
        <locationX>1212</locationX>
        <locationY>958</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ownerlevel7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ownerlevel7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_level_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_level_8</name>
        <label>add level 8</label>
        <locationX>1215</locationX>
        <locationY>1074</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ownerlevel8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ownerlevel8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>remove_current_account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_sharing_rule_to_collection</name>
        <label>add sharing rule to collection</label>
        <locationX>1387</locationX>
        <locationY>1520</locationY>
        <assignmentItems>
            <assignToReference>SharingRuleColelction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>declared_sharing_rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_every_parent_owner_create_share_rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>declare_sharing_rule</name>
        <label>declare sharing rule</label>
        <locationX>1387</locationX>
        <locationY>1378</locationY>
        <assignmentItems>
            <assignToReference>declared_sharing_rule.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>declared_sharing_rule.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_every_account_part_of_hierarchy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>declared_sharing_rule.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>declared_sharing_rule.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>declared_sharing_rule.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>declared_sharing_rule.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_every_parent_owner_create_share_rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_sharing_rule_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_current_account_Owner</name>
        <label>remove current account Owner</label>
        <locationX>1214</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_every_account_part_of_hierarchy.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_owners_Id_collection</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>For_every_parent_owner_create_share_rule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>manual_shares_not_null</name>
        <label>manual shares not null</label>
        <locationX>531</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Get_all_accounts_part_of_a_hierarchy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ALL_manual_shares</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_ALL_manual_shares</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <description>New version hack to traverse parent owners</description>
    <environments>Default</environments>
    <formulas>
        <name>ownerlevel1</name>
        <dataType>String</dataType>
        <expression>{!Loop_every_account_part_of_hierarchy.Parent.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>ownerlevel2</name>
        <dataType>String</dataType>
        <expression>{!Loop_every_account_part_of_hierarchy.Parent.Parent.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>ownerlevel3</name>
        <dataType>String</dataType>
        <expression>{!Loop_every_account_part_of_hierarchy.Parent.Parent.Parent.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>ownerlevel4</name>
        <dataType>String</dataType>
        <expression>{!Loop_every_account_part_of_hierarchy.Parent.Parent.Parent.Parent.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>ownerlevel5</name>
        <dataType>String</dataType>
        <expression>{!Loop_every_account_part_of_hierarchy.Parent.Parent.Parent.Parent.Parent.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>ownerlevel6</name>
        <dataType>String</dataType>
        <expression>{!Loop_every_account_part_of_hierarchy.Parent.Parent.Parent.Parent.Parent.Parent.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>ownerlevel7</name>
        <dataType>String</dataType>
        <expression>{!Loop_every_account_part_of_hierarchy.Parent.Parent.Parent.Parent.Parent.Parent.Parent.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>ownerlevel8</name>
        <dataType>String</dataType>
        <expression>{!Loop_every_account_part_of_hierarchy.Parent.Parent.Parent.Parent.Parent.Parent.Parent.Parent.OwnerId}</expression>
    </formulas>
    <interviewLabel>Daily Account Hierarcy sharing rule creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Account Hierarcy sharing rule creation</label>
    <loops>
        <name>For_every_parent_owner_create_share_rule</name>
        <label>For every parent owner create share rule</label>
        <locationX>1216</locationX>
        <locationY>1382</locationY>
        <collectionReference>parent_owners_Id_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>declare_sharing_rule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_every_account_part_of_hierarchy</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_every_account_part_of_hierarchy</name>
        <label>Loop every account part of hierarchy</label>
        <locationX>537</locationX>
        <locationY>702</locationY>
        <collectionReference>Get_all_accounts_part_of_a_hierarchy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_level_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_all_sharing_rules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_all_sharing_rules</name>
        <label>Create all sharing rules</label>
        <locationX>423</locationX>
        <locationY>912</locationY>
        <inputReference>SharingRuleColelction</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_ALL_manual_shares</name>
        <label>delete ALL manual shares</label>
        <locationX>726</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Get_all_accounts_part_of_a_hierarchy</targetReference>
        </connector>
        <inputReference>get_ALL_manual_shares</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_all_accounts_part_of_a_hierarchy</name>
        <label>Get all accounts part of a hierarchy</label>
        <locationX>541</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_every_account_part_of_hierarchy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ALL_manual_shares</name>
        <label>initial get ALL manual shares</label>
        <locationX>537</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>manual_shares_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_ALL_manual_shares</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-04</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>declared_sharing_rule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>latest_parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_owners_Id_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SharingRuleColelction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
</Flow>
