force-app/main/default/flows/Delete_Opportunity_Product_Update_Main_Product_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Subtotal_to_Variable</name>
        <label>Assign Subtotal to Variable</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>VarOpportunityProductSubtotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OpportunityProducts.Subtotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOpportunityProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OpportunityProducts.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OpportunityProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Subtotal_the_highest_amount</name>
        <label>Subtotal the highest amount?</label>
        <locationX>396</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Loop_OpportunityProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OpportunityProducts.Subtotal__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>VarOpportunityProductSubtotal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subtotal_to_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Delete - Opportunity Product - Update Main Product on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete - Opportunity Product - Update Main Product on Opportunity</label>
    <loops>
        <name>Loop_OpportunityProducts</name>
        <label>Loop OpportunityProducts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Opportunity_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subtotal_the_highest_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity_Product</name>
        <label>GetOpportunityProduct</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OpportunityProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>105 - Shipping</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>983</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Main_Product__c</field>
            <value>
                <elementReference>VarOpportunityProductID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Product</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarOpportunityProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOpportunityProductSubtotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
