force-app/main/default/flows/Delete_Brochure_Leads_when_Created_Lead_Source_is_Contact_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>ListGetLeadsNotNull</name>
        <label>ListGetLeadsNotNull</label>
        <locationX>768</locationX>
        <locationY>618</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadsWithMatchingEmailAndLeadSourceIsBrochure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteGetLeads</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Brochure Leads when Created Lead Source is Contact Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Brochure Leads when Created Lead Source is Contact Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteGetLeads</name>
        <label>DeleteGetLeads</label>
        <locationX>778</locationX>
        <locationY>845</locationY>
        <inputReference>GetLeadsWithMatchingEmailAndLeadSourceIsBrochure</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetLeadsWithMatchingEmailAndLeadSourceIsBrochure</name>
        <label>GetLeadsWithMatchingEmailAndLeadSourceIsBrochure</label>
        <locationX>775</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListGetLeadsNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website - Brochure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsUnreadByOwner</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetLeadsWithMatchingEmailAndLeadSourceIsBrochure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website - Contact form</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
