force-app/main/default/flows/EOL_Order_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Order_in_EOL</name>
        <label>Create Order in EOL</label>
        <locationX>199</locationX>
        <locationY>1723</locationY>
        <actionName>oc_eol__ExactOnlineController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>RecordsToPushToEOL</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ErrorMessageEOL</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>368</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>RecordsToPushToEOL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactHasEOLid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCollection_0</name>
        <label>AddToCollection</label>
        <locationX>368</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>RecordsToPushToEOL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CustomerAuthorizedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HasDeliveryAddressEOLid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCollection_0_0</name>
        <label>AddToCollection</label>
        <locationX>365</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>RecordsToPushToEOL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.EOL_Delivery_Address__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HasInvoiceAddressEOLid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCollection_0_0_0</name>
        <label>AddToCollection</label>
        <locationX>362</locationX>
        <locationY>1347</locationY>
        <assignmentItems>
            <assignToReference>RecordsToPushToEOL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.EOLinvoiceaddress__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCollection_0_0_0_0</name>
        <label>Add Order To Collection</label>
        <locationX>198</locationX>
        <locationY>1518</locationY>
        <assignmentItems>
            <assignToReference>RecordsToPushToEOL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_in_EOL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountHasEOLid</name>
        <label>AccountHasEOLid?</label>
        <locationX>170</locationX>
        <locationY>525</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_AccountEOLID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Exact_Online_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCollection</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_EOLAccountID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Exact_Online_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactHasEOLid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactHasEOLid</name>
        <label>ContactHasEOLid?</label>
        <locationX>168</locationX>
        <locationY>778</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactEOLid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerAuthorizedBy.Exact_Online_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasDeliveryAddressEOLid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_ContactEOLid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerAuthorizedBy.Exact_Online_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCollection_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_error</name>
        <label>Has error</label>
        <locationX>408</locationX>
        <locationY>1729</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessageEOL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Error_Log</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasDeliveryAddressEOLid</name>
        <label>HasDeliveryAddressEOLid?</label>
        <locationX>169</locationX>
        <locationY>976</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_HasNoDeliveryEOLid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EOL_Delivery_Address__r.Exact_Online_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCollection_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_HasDeliveryEOLid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EOL_Delivery_Address__r.Exact_Online_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasInvoiceAddressEOLid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasInvoiceAddressEOLid</name>
        <label>HasInvoiceAddressEOLid?</label>
        <locationX>172</locationX>
        <locationY>1243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_InvoiceEOLid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EOLinvoiceaddress__r.Exact_Online_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCollection_0_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_InvoiceEOLid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EOLinvoiceaddress__r.Exact_Online_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCollection_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActivated</name>
        <label>IsActivated?</label>
        <locationX>169</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountHasEOLid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ErrorMax255</name>
        <dataType>String</dataType>
        <expression>LEFT({!ErrorMessageEOL},255)</expression>
    </formulas>
    <formulas>
        <name>Test</name>
        <dataType>String</dataType>
        <expression>{!RecordsToPushToEOL}</expression>
    </formulas>
    <interviewLabel>EOL - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EOL - Order Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>708</locationX>
        <locationY>1724</locationY>
        <inputAssignments>
            <field>EOL_error_message__c</field>
            <value>
                <elementReference>ErrorMax255</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Type__c</field>
            <value>
                <stringValue>EOL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>All_Error_Logs__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <filterLogic>(1 AND 2 AND 10) OR (2 AND 3 AND 10) OR (2 AND 4 AND 10) OR (2 AND 5 AND 10) OR (2 AND 6 AND 10) OR (2 AND 7 AND 10) OR (2 AND 8 AND 10) OR (2 AND 9 AND 10)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CustomerAuthorizedById</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderNumber</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_terms__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Description__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsHistoricalOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>IsActivated</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessageEOL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordsToPushToEOL</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
