force-app/main/default/flows/Flow_Volume_Discount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Decision_which_range</name>
        <label>Decision which range</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Update_Record_QuoteLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X21_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetVolumeDiscount21_100</targetReference>
            </connector>
            <label>21-100</label>
        </rules>
        <rules>
            <name>X100_500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>101.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetVolumeDiscount101_500</targetReference>
            </connector>
            <label>100-500</label>
        </rules>
    </decisions>
    <interviewLabel>Flow Volume Discount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Volume Discount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetVolumeDiscount101_500</name>
        <label>GetVolumeDiscount101-500</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_QuoteLineItem101_500</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Quantity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>101-500</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volume_Discount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVolumeDiscount21_100</name>
        <label>GetVolumeDiscount21-100</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_QuoteLineItem21_100</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Quantity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>21-100</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volume_Discount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QuoteLineItem101_500</name>
        <label>Update QuoteLineItem101-500</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Volume_Discount__c</field>
            <value>
                <elementReference>GetVolumeDiscount101_500.Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QuoteLineItem21_100</name>
        <label>Update QuoteLineItem21-100</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Volume_Discount__c</field>
            <value>
                <elementReference>GetVolumeDiscount21_100.Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_QuoteLineItem</name>
        <label>Update Record QuoteLineItem</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Volume_Discount__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_which_range</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollVarQuoteLineItems101_500</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>CollVarQuoteLines21_100</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SingleVarQuoteLine21_100</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SingleVarQuoteLineItem101_500</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
