force-app/main/default/flows/Lydia_Account_sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Populate_Account_Share_Varialble</name>
        <label>Populate Account_Share Variable</label>
        <locationX>571</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>varR_AccountShare.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountShare.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Account_Share_Varialble_0</name>
        <label>Populate Account_Share Variable</label>
        <locationX>767</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>varR_AccountShare.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOwnerTopLevelParent.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AccountShare.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_Account_Record_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Test</name>
        <label>Test</label>
        <locationX>406</locationX>
        <locationY>448</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Top_Level_Parent_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Top_Level_Parent_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Account_Share_Varialble_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ToplevelAccount</name>
        <label>ToplevelAccount</label>
        <locationX>388</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>Test</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Top_Level_Parent_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Account_Share_Varialble</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lydia Account sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lydia Account sharing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Account_Record</name>
        <label>Share Account Record</label>
        <locationX>768</locationX>
        <locationY>377</locationY>
        <inputReference>varR_AccountShare</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Share_Account_Record_0</name>
        <label>Share Account Record</label>
        <locationX>915</locationX>
        <locationY>682</locationY>
        <inputReference>varR_AccountShare</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOwnerTopLevelParent</name>
        <label>GetOwnerTopLevelParent</label>
        <locationX>430</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ToplevelAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.Owner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>540</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>GetOwnerTopLevelParent</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ChildAccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varR_AccountShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
</Flow>
