force-app/main/default/flows/Opportunity_Flow_record_triggered_on_opportunity_to_set_update_quota.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>X1_for_Month</name>
        <label>+1 for Month</label>
        <locationX>687</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>MonthNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Month_Greater_then_12</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ClosedOpp</name>
        <label>ClosedOpp?</label>
        <locationX>294</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuota</targetReference>
            </connector>
            <label>No_Open</label>
        </rules>
        <rules>
            <name>Yes_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Delivery_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2022-01-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Yes_Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Month_Greater_then_12</name>
        <label>Month Greater then 12</label>
        <locationX>545</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>CreateQuota</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuota</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuotaFound</name>
        <label>QuotaFound?</label>
        <locationX>679</locationX>
        <locationY>521</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_QuotaFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuota</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuotaLinesx</targetReference>
            </connector>
            <label>Yes_QuotaFound</label>
        </rules>
        <rules>
            <name>No_QuotaNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuota</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateQuota</targetReference>
            </connector>
            <label>No_QuotaNotFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateToCreateQuotaFor</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.Requested_Delivery_Date__c}) , {!MonthNumber} , 01)</expression>
    </formulas>
    <formulas>
        <name>OpportunityLineDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.CloseDate}))&amp;TEXT(MONTH({!$Record.CloseDate}))</expression>
    </formulas>
    <formulas>
        <name>QuotaLineCategoryMatchingOpportunity</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Probability} &gt;=0.2, &quot;Expected revenue &gt;=20% chance&quot;, &quot;Expected revenue &lt;20% chance&quot;)</expression>
    </formulas>
    <interviewLabel>Quota - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Flow (record triggered) on opportunity to set/update quota</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateQuota</name>
        <label>CreateQuota</label>
        <locationX>688</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>X1_for_Month</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PMC_Global_Quota__c</field>
            <value>
                <elementReference>$Record.PMC_Global_Opp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quota_Date__c</field>
            <value>
                <elementReference>DateToCreateQuotaFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Quota__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetQuota</name>
        <label>GetQuota</label>
        <locationX>513</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuotaFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PMC_Global_Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PMC_Global_Opp__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quota_YearMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Requesteddelivdate_YearMonth__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quota__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuotaLinesx</name>
        <label>GetQuotaLines</label>
        <locationX>927</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_with_Quota_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuota.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuotaLineCategoryMatchingOpportunity</elementReference>
            </value>
        </filters>
        <object>Quota_Line__c</object>
        <outputReference>VarQuotaLine</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Empty Quota Line</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>49</locationX>
        <locationY>349</locationY>
        <inputAssignments>
            <field>Quota_Line__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_with_Quota_Line</name>
        <label>Update Opportunity with Quota Line</label>
        <locationX>1138</locationX>
        <locationY>523</locationY>
        <inputAssignments>
            <field>Quota_Line__c</field>
            <value>
                <elementReference>VarQuotaLine.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>175</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>ClosedOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota_Match__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MonthNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarQuotaLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quota_Line__c</objectType>
    </variables>
</Flow>
