force-app/main/default/flows/Opportunity_Product_Create_fields_when_in_sync_with_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Opportunity Product - Update fields when in sync with Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - Create fields when in sync with Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Product</name>
        <label>Update Opportunity Product</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OEM_Discount__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.OEM_Discount2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Discount__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Sales_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Cost__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Transport_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Sales_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Via_Flow__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Via_Flow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Discount__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Volume_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Item</targetReference>
        </connector>
        <filterFormula>NOT(ISBLANK({!$Record.Opportunity.SyncedQuoteId}))</filterFormula>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
