force-app/main/default/flows/Opportunity_Stage_Probability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Deduct</name>
        <label>Deduct %</label>
        <locationX>1810</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_0_0444_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0</name>
        <label>Deduct %</label>
        <locationX>1282</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_44</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0</name>
        <label>Deduct %</label>
        <locationX>2338</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_04433</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0</name>
        <label>Deduct %</label>
        <locationX>2866</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_44444</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>3394</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_43343</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>6034</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_0_0444_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>5506</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_44_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>6562</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_04433_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>7090</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_44444_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>7618</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_43343_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>10258</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_91_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>9730</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_91_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>10786</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_91_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>11314</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_91_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>11842</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_91_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>9202</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_91_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>8146</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_43343_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Deduct %</label>
        <locationX>12370</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.probability_prediction__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>D_Deduction_Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability_Prediction_0_0_91_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>D_Deduction_Probability</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_E_Probability_Deduction_selected</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>886</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_91</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>1414</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>1942</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>2470</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>2998</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>3526</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>4054</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_43343_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>5110</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_91_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>5638</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>6166</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>6694</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>7222</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>7750</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>8278</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>9334</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>9862</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>10390</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>10918</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>11446</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>11974</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Is E (Probability Deduction) selected?</label>
        <locationX>12502</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reduced_probability_to_be_applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Type_Changed</name>
        <label>Is Record Type Changed?</label>
        <locationX>5673</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Project_details_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Submission_Stage</targetReference>
            </connector>
            <label>Yes changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Submission_Stage</name>
        <label>Is Quote Submission Stage?</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Quote_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>What_type_of</targetReference>
            </connector>
            <label>Yes Quote Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Stage</name>
        <label>Opportunity Stage</label>
        <locationX>5673</locationX>
        <locationY>2015</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost_Canceled</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0</targetReference>
            </connector>
            <label>Closed Lost/Canceled</label>
        </rules>
        <rules>
            <name>Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0</targetReference>
            </connector>
            <label>Negotiation</label>
        </rules>
        <rules>
            <name>Order_Promised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Promised</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0</targetReference>
            </connector>
            <label>Order Promised</label>
        </rules>
        <rules>
            <name>Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Qualification</label>
        </rules>
        <rules>
            <name>Request_for_Sales_Engineering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request for Sales Engineering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Request for Sales Engineering</label>
        </rules>
        <rules>
            <name>In_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>In Process</label>
        </rules>
        <rules>
            <name>Waiting_for_additional_info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for additional info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Waiting for additional info</label>
        </rules>
        <rules>
            <name>Quote_Preparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Preparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Quote Preparation</label>
        </rules>
        <rules>
            <name>Pricing_Terms_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing &amp; Terms approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pricing &amp; Terms approval</label>
        </rules>
        <rules>
            <name>Quote_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Quote Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pilot_or_Project_Opportunity</name>
        <label>Pilot or Project Opportunity</label>
        <locationX>2861</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_Record_Type_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01209000001iDNUAA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Pilot</label>
        </rules>
    </decisions>
    <decisions>
        <description>AND(
ISPICKVAL({!$Record.StageName}, &quot;Quote Submission&quot;),
OR(
ISCHANGED({!$Record.StageName}),
ISCHANGED({!$Record.OEM_quotes_with_NX_Filtration_products__c}),
ISCHANGED({!$Record.Technology_specified_by_enduser__c}),
ISCHANGED({!$Record.OEM_selected_by_enduser__c}),
ISCHANGED({!$Record.Is_budget_quote__c}),
ISCHANGED({!$Record.Reduced_probability_to_be_applied__c}),
ISCHANGED({!$Record.Type})
)
)</description>
        <name>Project_details_changed</name>
        <label>Project details changed?</label>
        <locationX>10901</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Project_Details_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_type_of</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Type_Logic</name>
        <label>Project Type Logic</label>
        <locationX>2800</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>AB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0</targetReference>
            </connector>
            <label>AB</label>
        </rules>
        <rules>
            <name>AC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0</targetReference>
            </connector>
            <label>AC</label>
        </rules>
        <rules>
            <name>ABC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0</targetReference>
            </connector>
            <label>ABC</label>
        </rules>
        <rules>
            <name>BC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0</targetReference>
            </connector>
            <label>BC</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>D</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Type_Logic_0</name>
        <label>Project Type Logic</label>
        <locationX>7024</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>AB_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>AB</label>
        </rules>
        <rules>
            <name>AC_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>AC</label>
        </rules>
        <rules>
            <name>ABC_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>ABC</label>
        </rules>
        <rules>
            <name>BC_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>BC</label>
        </rules>
        <rules>
            <name>C_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>B_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>D_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>D</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Type_Logic_0_0</name>
        <label>Project Type Logic</label>
        <locationX>11248</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Probability_Prediction_0_0_0_055</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>AB_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>AB</label>
        </rules>
        <rules>
            <name>AC_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>AC</label>
        </rules>
        <rules>
            <name>ABC_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>ABC</label>
        </rules>
        <rules>
            <name>BC_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>BC</label>
        </rules>
        <rules>
            <name>C_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>B_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_quotes_with_NX_Filtration_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technology_specified_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_selected_by_enduser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>D_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_budget_quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>D</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of</name>
        <label>Type of Business</label>
        <locationX>8113</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Type_Logic</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
        <rules>
            <name>Replacement_NX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Type_Logic_0</targetReference>
            </connector>
            <label>Replacement NX</label>
        </rules>
        <rules>
            <name>Replacement_Competitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement of competitor product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Type_Logic_0_0</targetReference>
            </connector>
            <label>Replacement Competitor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NB_AC_D</name>
        <dataType>Number</dataType>
        <expression>{!$Record.probability_prediction__c} - {!D_Deduction_Probability}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity - Stage Probability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Stage Probability</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Probability_Prediction</name>
        <label>Update Probability Prediction</label>
        <locationX>886</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0</name>
        <label>Update Probability Prediction</label>
        <locationX>1414</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>1942</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_04433</name>
        <label>Update Probability Prediction</label>
        <locationX>2338</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_04433_0</name>
        <label>Update Probability Prediction</label>
        <locationX>6562</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>2470</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>2998</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0444_0</name>
        <label>Update Probability Prediction</label>
        <locationX>1810</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0444_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>6034</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055</name>
        <label>Update Probability Prediction</label>
        <locationX>13162</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>5013</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>4749</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>4221</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>4485</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>5277</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>5541</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>5805</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>6069</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>6333</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>6597</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>6861</locationX>
        <locationY>2135</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_055_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>3526</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>4054</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>4450</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>4714</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>5110</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>5638</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>6166</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>6694</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>7222</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>7750</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>8278</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>8674</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>8938</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>9334</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>9862</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>10390</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>10918</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>11446</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>11974</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>12502</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_E_Probability_Deduction_selected_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>12898</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_44444</name>
        <label>Update Probability Prediction</label>
        <locationX>2866</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_0_0_0_0_0_0_0_0_0_0_0_44444_0</name>
        <label>Update Probability Prediction</label>
        <locationX>7090</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_43343</name>
        <label>Update Probability Prediction</label>
        <locationX>3394</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_43343_0</name>
        <label>Update Probability Prediction</label>
        <locationX>3922</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_43343_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>7618</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_43343_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>8146</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_91</name>
        <label>Update Probability Prediction</label>
        <locationX>754</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_91_0</name>
        <label>Update Probability Prediction</label>
        <locationX>4978</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>probability_prediction__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_91_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>9202</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_91_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>9730</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_91_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>10258</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_91_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>10786</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_91_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>11314</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_91_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>11842</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_0_0_91_0_0_0_0_0_0_0_0</name>
        <label>Update Probability Prediction</label>
        <locationX>12370</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_44</name>
        <label>Update Probability Prediction</label>
        <locationX>1282</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Probability_Prediction_44_0</name>
        <label>Update Probability Prediction</label>
        <locationX>5506</locationX>
        <locationY>1295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2735</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pilot_or_Project_Opportunity</targetReference>
        </connector>
        <filterFormula> OR(
ISCHANGED({!$Record.StageName}),
ISCHANGED({!$Record.OEM_quotes_with_NX_Filtration_products__c}),
ISCHANGED({!$Record.Technology_specified_by_enduser__c}),
ISCHANGED({!$Record.OEM_selected_by_enduser__c}),
ISCHANGED({!$Record.Is_budget_quote__c}),
ISCHANGED({!$Record.Reduced_probability_to_be_applied__c}),
ISCHANGED({!$Record.Type}),
ISCHANGED({!$Record.RecordTypeId}),
ISNEW()
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
