force-app/main/default/flows/Order_Flow_record_triggered_on_order_to_set_update_quota.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>X1_Month</name>
        <label>+1 Month</label>
        <locationX>722</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>MonthNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Month_Greater_Then_12</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_it_past_year_2022</name>
        <label>Less then 2022?</label>
        <locationX>221</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>GetQuota</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2022-01-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Yes_Less</label>
        </rules>
    </decisions>
    <decisions>
        <name>Month_Greater_Then_12</name>
        <label>Month Greater Then 12?</label>
        <locationX>585</locationX>
        <locationY>678</locationY>
        <defaultConnector>
            <targetReference>CreateQuota</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuota</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuotaFound</name>
        <label>QuotaFound?</label>
        <locationX>877</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_QuotaFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuota</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuotaLinesx</targetReference>
            </connector>
            <label>Yes_QuotaFound</label>
        </rules>
        <rules>
            <name>No_QuotaNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuota</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateQuota</targetReference>
            </connector>
            <label>No_QuotaNotFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateToCreateQuotaFor</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.Delivery_Date__c} ) , {!MonthNumber} , 01)</expression>
    </formulas>
    <formulas>
        <name>DeliveryDateLine</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Delivery_Date__c}))&amp;TEXT(MONTH({!$Record.Delivery_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>QuotaLineCategoryMatchingOrder</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Delivery_Date__c} &lt;= TODAY(), &quot;Revenue&quot;, &quot;Revenue in backlog&quot;)</expression>
    </formulas>
    <interviewLabel>Order - Flow (record triggered) on order to set/update quota {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Flow (record triggered) on order to set/update quota</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateQuota</name>
        <label>CreateQuota</label>
        <locationX>883</locationX>
        <locationY>736</locationY>
        <connector>
            <targetReference>X1_Month</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PMC_Global_Quota__c</field>
            <value>
                <elementReference>$Record.PMC_Global_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quota_Date__c</field>
            <value>
                <elementReference>DateToCreateQuotaFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Quota__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetQuota</name>
        <label>GetQuota</label>
        <locationX>502</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuotaFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PMC_Global_Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PMC_Global_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quota_YearMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryDateLine</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quota__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuotaLinesx</name>
        <label>GetQuotaLines</label>
        <locationX>1125</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_with_Quota_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuota.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuotaLineCategoryMatchingOrder</elementReference>
            </value>
        </filters>
        <object>Quota_Line__c</object>
        <outputReference>VarQuotaLine</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>50</locationX>
        <locationY>338</locationY>
        <inputAssignments>
            <field>Quota_Line__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_with_Quota_Line</name>
        <label>Update Order with Quota Line</label>
        <locationX>1336</locationX>
        <locationY>523</locationY>
        <inputAssignments>
            <field>Quota_Line__c</field>
            <value>
                <elementReference>VarQuotaLine.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>376</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Is_it_past_year_2022</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota_Match__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MonthNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarQuotaLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quota_Line__c</objectType>
    </variables>
</Flow>
