force-app/main/default/flows/Pilot_Create_Pilot_From_Orde_s_Related_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Pilot - Create Pilot From Orde&apos;s Related Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pilot - Create Pilot From Orde&apos;s Related Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePilot</name>
        <label>CreatePilot</label>
        <locationX>723</locationX>
        <locationY>493</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.CustomerAuthorizedBy.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_V2__c</field>
            <value>
                <elementReference>$Record.PMC_Global_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Potential_Research_V2__c</field>
            <value>
                <elementReference>GetRelatedOpportunity.CommercialPotential_Research__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_V2__c</field>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membrane_V2__c</field>
            <value>
                <elementReference>GetRelatedOpportunity.Membrane__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_V2__c</field>
            <value>
                <elementReference>GetRelatedOpportunity.Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership_V2__c</field>
            <value>
                <elementReference>GetRelatedOpportunity.Ownership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_Goal_V2__c</field>
            <value>
                <elementReference>GetRelatedOpportunity.Pilot_Goal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_Name_V2__c</field>
            <value>
                <elementReference>GetRelatedOpportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_Objective_V2__c</field>
            <value>
                <elementReference>GetRelatedOpportunity.pilot_objective__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_type_V2__c</field>
            <value>
                <elementReference>GetRelatedOpportunity.Pilot_type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Pilot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetRelatedOpportunity</name>
        <label>GetRelatedOpportunity</label>
        <locationX>720</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatePilot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>587</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRelatedOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsHistoricalOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderHasPilot__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pilot</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
