force-app/main/default/flows/Pilot_Create_Pilot_From_Activated_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Pilot - Create Pilot From Activated Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pilot - Create Pilot From Activated Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePilot</name>
        <label>CreatePilot</label>
        <locationX>755</locationX>
        <locationY>529</locationY>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_V2__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Application__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Potential_Research_V2__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CommercialPotential_Research__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commissioning_Date__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Preliminary_Commissioning_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_V2__c</field>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membrane_V2__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Membrane__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_V2__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership_V2__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Ownership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Parent_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_Goal_V2__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Pilot_Goal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_Name_V2__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_Objective_V2__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.pilot_objective__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_type_V2__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Pilot_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Commercial stage</stringValue>
            </value>
        </inputAssignments>
        <object>Pilot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetRelatedOpportunity</name>
        <label>GetRelatedOpportunity</label>
        <locationX>755</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatePilot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>623</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRelatedOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsHistoricalOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderHasPilot__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pilot</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
