force-app/main/default/flows/Prevent_Duplicate_Leads_on_Insert_From_Web_to_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Chatter_Message_on_Original_Lead</name>
        <label>Post Chatter Message on Original Lead</label>
        <locationX>1043</locationX>
        <locationY>517</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>DeleteOpp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DuplicateLeadMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetDuplicateLead.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reference_to_inquiry</name>
        <label>Reference to inquiry</label>
        <locationX>463</locationX>
        <locationY>1486</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>LoopReadEmails</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ReferenceMainInquiry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>LoopReadEmails.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Found_Duplicate_Lead</name>
        <label>Found Duplicate Lead</label>
        <locationX>761</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Leads_List_Is_Greater_Than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDuplicateLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CreatedDateLessThanDateTimeNowPlusOneDay</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Website - Contact form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Chatter_Message_on_Original_Lead</targetReference>
            </connector>
            <label>Get Leads List Is Greater Than Zero</label>
        </rules>
        <rules>
            <name>LeadSourceEqualsWebsite_Contact_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website - Contact form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leads_With_Matching_Email_and_Lead_Source_is_Brochure</targetReference>
            </connector>
            <label>LeadSourceEqualsWebsite - Contact form</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotNull</name>
        <label>NotNull</label>
        <locationX>460</locationX>
        <locationY>692</locationY>
        <defaultConnector>
            <targetReference>Get_Leads_With_Matching_Email_and_Lead_Source_is_Brochure_and_READ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Leads_With_Matching_Email_and_Lead_Source_is_Brochure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteGetLeads</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotNull_0</name>
        <label>NotNull</label>
        <locationX>455</locationX>
        <locationY>1077</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Leads_With_Matching_Email_and_Lead_Source_is_Brochure_and_READ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopReadEmails</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDateLessThanDateTimeNowPlusOneDay</name>
        <dataType>DateTime</dataType>
        <expression>{!GetDuplicateLead.CreatedDate} + 1</expression>
    </formulas>
    <formulas>
        <name>CustomDomain</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_540},FIND(&quot;/services&quot;, {!$Api.Enterprise_Server_URL_540}))</expression>
    </formulas>
    <interviewLabel>Prevent Duplicate Leads on Insert From Web to Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prevent Duplicate Leads on Insert From Web to Lead</label>
    <loops>
        <name>LoopReadEmails</name>
        <label>LoopReadEmails</label>
        <locationX>460</locationX>
        <locationY>1281</locationY>
        <collectionReference>Get_Leads_With_Matching_Email_and_Lead_Source_is_Brochure_and_READ</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reference_to_inquiry</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteGetLeads</name>
        <label>DeleteGetLeads</label>
        <locationX>465</locationX>
        <locationY>869</locationY>
        <connector>
            <targetReference>Get_Leads_With_Matching_Email_and_Lead_Source_is_Brochure_and_READ</targetReference>
        </connector>
        <inputReference>Get_Leads_With_Matching_Email_and_Lead_Source_is_Brochure</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteOpp</name>
        <label>DeleteOpp</label>
        <locationX>1043</locationX>
        <locationY>726</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Leads_With_Matching_Email_and_Lead_Source_is_Brochure</name>
        <label>Get Leads With Matching Email and Lead Source is Brochure</label>
        <locationX>468</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website - Brochure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsUnreadByOwner</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads_With_Matching_Email_and_Lead_Source_is_Brochure_and_READ</name>
        <label>Get Leads With Matching Email and Lead Source is Brochure and READ</label>
        <locationX>721</locationX>
        <locationY>969</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotNull_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website - Brochure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsUnreadByOwner</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDuplicateLead</name>
        <label>GetDuplicateLead</label>
        <locationX>769</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Duplicate_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>643</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>GetDuplicateLead</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DuplicateLeadMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,

This lead had a duplicate that came in on {!$Flow.CurrentDateTime} and was automatically deleted. 

Greetings,
Automated Support</text>
    </textTemplates>
    <textTemplates>
        <name>ReferenceMainInquiry</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,

This brochure has been read in the past, the customer has asked for a inquiry on the following lead:

{!CustomDomain}{!$Record.Id}  

Please merge the leads and keep the valid information.

Greetings,
Automated support</text>
    </textTemplates>
</Flow>
