force-app/main/default/flows/Product_RecordTriggerd_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Records</name>
        <label>Assign Records</label>
        <locationX>138</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CollProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Record_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_in_Salesforce_before_Product_Sync</name>
        <label>Is in Salesforce before Product Sync</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Assign_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.In_Salesforce_before_Product_Sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductFamily</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSalesItem</name>
        <label>IsSalesItem?</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>GetProductFamily</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsSalesItem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_in_Salesforce_before_Product_Sync</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductFamilyFound</name>
        <label>ProductFamilyFound?</label>
        <locationX>226</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductFamily</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Family</targetReference>
            </connector>
            <label>No_f</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product - RecordTriggerd Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product - RecordTriggerd Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Record_0</name>
        <label>Delete Record</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <inputReference>CollProduct</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetProductFamily</name>
        <label>GetProductFamily</label>
        <locationX>226</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProductFamilyFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EOL_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Family_Shadow_Field__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Family</name>
        <label>Update Product.Family</label>
        <locationX>94</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Family</field>
            <value>
                <elementReference>$Record.Product_Family_Shadow_Field__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_0</name>
        <label>Update Product2d.Familly</label>
        <locationX>358</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Family</field>
            <value>
                <elementReference>GetProductFamily.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsSalesItem</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
