force-app/main/default/flows/Product_Deactivated_or_Activate_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Deactivate_or_Activate</name>
        <label>Deactivate or Activate</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IsActive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Active_field_to_Activated</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IsActive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Active_field_to_deactivated</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
    </decisions>
    <interviewLabel>Product - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product - Deactivated or Activate Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Active_field_to_Activated</name>
        <label>Update Active field to Activated</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Active_field_to_deactivated</name>
        <label>Update Active field to deactivated</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deactivate_or_Activate</targetReference>
        </connector>
        <object>Product2</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-20</startDate>
            <startTime>15:24:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
