force-app/main/default/flows/Quote_Change_Prices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CollQuoteLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarQuoteLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_New_Quote_Line_Items</name>
        <label>Assign Values New Quote Line Items</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.Sales_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.Sales_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.Volume_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.OEM_Discount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.OEM_Discount2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.OEM_Discount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.Via_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.Via_Flow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.Previous_Line_Item_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.Transport_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.Transport_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItems.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_syncing</name>
        <label>Is syncing?</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_syncing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsSyncing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote_Line_Items</targetReference>
            </connector>
            <label>Not syncing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote - Change Prices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Change Prices</label>
    <loops>
        <name>Loop_Quote_Line_Items</name>
        <label>Loop Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_PriceBookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Old_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>1607</locationY>
        <inputReference>CollQuoteLineItems</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Quote_Line_Items</name>
        <label>Delete Old Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Quote_Price_Book</targetReference>
        </connector>
        <inputReference>Get_Quote_Line_Items</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_PriceBookEntry</name>
        <label>Get PriceBookEntry</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_New_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s0900000JKixDAAT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_PriceBook</name>
        <label>Update Opportunity - PriceBook</label>
        <locationX>264</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s0900000JKixDAAT</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Price_Book</name>
        <label>Update Quote - Price Book</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Is_syncing</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s0900000JKixDAAT</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filterFormula>AND(
TODAY() &gt; {!$Record.ExpirationDate},
{!$Record.Opportunity.IsClosed} = false,
NOT({!$Record.Pricebook2Id} = &quot;01s0900000JKixDAAT&quot;)
)</filterFormula>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CollQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>VarQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
