force-app/main/default/flows/Quota_Quota_Lines_Scheduled_flow_03_March.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Quota_Lines</name>
        <label>Assign Quota Lines</label>
        <locationX>2350</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>GetQuotaLines_1.Amount_YTD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuotaLines_1.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Collection</name>
        <label>Assign To Collection</label>
        <locationX>2327</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>CollQuotaLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetQuotaLines_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQuotaLines_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Collection_2</name>
        <label>Assign To Collection 2</label>
        <locationX>709</locationX>
        <locationY>1717</locationY>
        <assignmentItems>
            <assignToReference>CollQuotaLines2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuotaLines2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuotaLines2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_Quota_Lines</name>
        <label>Assign Values Quota Lines</label>
        <locationX>979</locationX>
        <locationY>1796</locationY>
        <assignmentItems>
            <assignToReference>LoopQuotaLines2.Amount_YTD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQuotaLinesAmountANDPreviousAmountYTD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCurrentQuotaMonth</name>
        <label>SetCurrentQuotaMonth</label>
        <locationX>1176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>PreviousMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quota_Month_number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1</name>
        <label>-1</label>
        <locationX>1177</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>PreviousMonth</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Greater_then_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Greater_then_0</name>
        <label>Greater then 0?</label>
        <locationX>1170</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Update_Quota</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousMonth</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Quota</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasErrorMessage</name>
        <label>HasErrorMessage</label>
        <locationX>1548</locationX>
        <locationY>1025</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Error_Log</targetReference>
            </connector>
            <label>Yes_error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quota_Found</name>
        <label>Quota Found?</label>
        <locationX>749</locationX>
        <locationY>851</locationY>
        <defaultConnector>
            <targetReference>X1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_QuotaFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Quota.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quota_2</targetReference>
            </connector>
            <label>Yes_QuotaFound</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentQuotaTargetAmountANDPreviousQuotaTargetAmountYTD</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Target__c} + {!Get_Previous_Quota.Target_YTD__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LoopQuotaLinesAmountANDPreviousAmountYTD</name>
        <dataType>Currency</dataType>
        <expression>{!LoopQuotaLines2.Amount__c} +{!GetQuotaLines_2.Amount_YTD__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quota/Quota Lines - Scheduled flow - 03. March {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quota/Quota Lines - Scheduled flow - 03. March</label>
    <loops>
        <name>GetQuotaLines_1</name>
        <label>GetQuotaLines_1</label>
        <locationX>2082</locationX>
        <locationY>687</locationY>
        <collectionReference>GetQuotaLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quota_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quota_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQuotaLines2</name>
        <label>LoopQuotaLines2</label>
        <locationX>757</locationX>
        <locationY>1496</locationY>
        <collectionReference>GetCurrentQuotaLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetQuotaLines_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quota_Line_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>1558</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EOL_error_message__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </filters>
        <filters>
            <field>Error_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quota</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>All_Error_Logs__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Quota</name>
        <label>Get Previous Quota</label>
        <locationX>1176</locationX>
        <locationY>857</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quota_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HasErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota_Month_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>PMC_Global_Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PMC_Global_Quota__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quota_Year_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quota_Year_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quota__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentQuotaLines</name>
        <label>GetCurrentQuotaLines</label>
        <locationX>758</locationX>
        <locationY>1283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQuotaLines2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HasErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quota_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuotaLines</name>
        <label>GetQuotaLines</label>
        <locationX>1917</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQuotaLines_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HasErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quota_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuotaLines_2</name>
        <label>GetQuotaLines_2</label>
        <locationX>1084</locationX>
        <locationY>1525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_Quota_Lines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HasErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Quota.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopQuotaLines2.Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quota_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quota</name>
        <label>Update Quota</label>
        <locationX>1738</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>GetQuotaLines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HasErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Target_YTD__c</field>
            <value>
                <elementReference>$Record.Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quota_2</name>
        <label>Update Quota2</label>
        <locationX>758</locationX>
        <locationY>1065</locationY>
        <connector>
            <targetReference>GetCurrentQuotaLines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HasErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Target_YTD__c</field>
            <value>
                <elementReference>CurrentQuotaTargetAmountANDPreviousQuotaTargetAmountYTD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quota_Line_2</name>
        <label>Update Quota Line 2</label>
        <locationX>510</locationX>
        <locationY>1523</locationY>
        <faultConnector>
            <targetReference>HasErrorMessage</targetReference>
        </faultConnector>
        <inputReference>CollQuotaLines2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quota_Lines</name>
        <label>Update Quota Lines</label>
        <locationX>2079</locationX>
        <locationY>855</locationY>
        <faultConnector>
            <targetReference>HasErrorMessage</targetReference>
        </faultConnector>
        <inputReference>CollQuotaLines</inputReference>
    </recordUpdates>
    <start>
        <locationX>1048</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>SetCurrentQuotaMonth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota_Month_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Quota_Year_Number__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>2022.0</numberValue>
            </value>
        </filters>
        <object>Quota__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-13</startDate>
            <startTime>00:03:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollQuotaLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quota_Line__c</objectType>
    </variables>
    <variables>
        <name>CollQuotaLines2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quota_Line__c</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterPreviousMonthOnCategory_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quota_Line__c</objectType>
    </variables>
    <variables>
        <name>PreviousMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
