force-app/main/default/flows/Quota_Quota_Lines_Scheduled_flow_01_Januaryv2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Quota_Lines</name>
        <label>Assign Quota Lines</label>
        <locationX>905</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>LoopQuotaLines.Amount_YTD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderANDOpportunityAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_collection</name>
        <label>Assign to collection</label>
        <locationX>541</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>CollQuotaLinesUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuotaLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuotaLines</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>OrderANDOpportunityAmount</name>
        <dataType>Currency</dataType>
        <expression>{!LoopQuotaLines.Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QuotaMonthNumber</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Record.Quota_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quota/Quota Lines - Scheduled flow - 01. January {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quota/Quota Lines - Scheduled flow - 01. January</label>
    <loops>
        <name>LoopQuotaLines</name>
        <label>LoopQuotaLines</label>
        <locationX>906</locationX>
        <locationY>630</locationY>
        <collectionReference>GetQuotaLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quota_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_QuotaLines_Amount_YTD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQuotaLines</name>
        <label>GetQuotaLines</label>
        <locationX>776</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQuotaLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quota_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QuotaLines_Amount_YTD</name>
        <label>Update QuotaLines Amount YTD</label>
        <locationX>1165</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Update_Target_Amount_YTD</targetReference>
        </connector>
        <inputReference>CollQuotaLinesUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Target_Amount_YTD</name>
        <label>Update Target Amount YTD</label>
        <locationX>1167</locationX>
        <locationY>950</locationY>
        <inputAssignments>
            <field>Target_YTD__c</field>
            <value>
                <elementReference>$Record.Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>651</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetQuotaLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quota_Month_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Quota_Year_Number__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>2022.0</numberValue>
            </value>
        </filters>
        <object>Quota__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-25</startDate>
            <startTime>00:01:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollQuotaLinesUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quota_Line__c</objectType>
    </variables>
</Flow>
