force-app/main/default/flows/Update_QuoteLineItems_to_Opportunity_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>227</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProduct2.OEM_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OEM_Discount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct2.Sales_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct2.Volume_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Volume_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct2.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct2.Via_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct2.Transport_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Transport_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct2.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Line</targetReference>
        </connector>
    </assignments>
    <description>added transport cost</description>
    <environments>Default</environments>
    <interviewLabel>Update QuoteLineItems to Opportunity Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update QuoteLineItems to Opportunity Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OpportunityProduct2</name>
        <label>OpportunityProduct</label>
        <locationX>189</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Line</name>
        <label>Update Opportunity Line</label>
        <locationX>414</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>Update_via_flow</targetReference>
        </connector>
        <inputReference>OpportunityProduct2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Forecasting_Price</name>
        <label>Update Quote Forecasting Price</label>
        <locationX>487</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>OpportunityProduct2</targetReference>
        </connector>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.Sales_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_via_flow</name>
        <label>Update via flow</label>
        <locationX>567</locationX>
        <locationY>574</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Via_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <start>
        <locationX>54</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Update_Quote_Forecasting_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Synced_Quote_line2__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CollOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
