force-app/main/default/flows/Update_Order_with_QuoteLineItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>408</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>ColOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_OrderProduct</name>
        <label>Assign values to OrderProduct</label>
        <locationX>589</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.AvailableQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.EndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Sales_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Sales_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Subtotal_for_Roll_Up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Subtotal_Salesprice_Discount_for_Roll_Up__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Transport_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Transport_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Items_found</name>
        <label>Items found?</label>
        <locationX>508</locationX>
        <locationY>334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuotelineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_QuoteLineItems</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Order with QuoteLineItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Order with QuoteLineItems</label>
    <loops>
        <name>Loop_QuoteLineItems</name>
        <label>Loop QuoteLineItems</label>
        <locationX>510</locationX>
        <locationY>506</locationY>
        <collectionReference>GetQuotelineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_OrderProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>775</locationX>
        <locationY>524</locationY>
        <inputReference>ColOrderProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetQuotelineItems</name>
        <label>GetQuotelineItems</label>
        <locationX>304</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Items_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>180</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>GetQuotelineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ColOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
